<?xml version="1.0" encoding="UTF-8"?>
<web-app>

<servlet>
        <servlet-name>us</servlet-name>
        <servlet-class>com.servlet.UserServlet</servlet-class>
</servlet>

<servlet-mapping>
        <servlet-name>us</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
</servlet-mapping>

<servlet>
        <servlet-name>ls</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
</servlet>

<servlet-mapping>
        <servlet-name>ls</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>

<servlet>
        <servlet-name>als</servlet-name>
        <servlet-class>com.servlet.AdminLoginServlet</servlet-class>
</servlet>

<servlet-mapping>
        <servlet-name>als</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
</servlet-mapping>

<servlet>
        <servlet-name>adps</servlet-name>
        <servlet-class>com.servlet.AdminDeletePostServlet</servlet-class>
</servlet>

<servlet-mapping>
        <servlet-name>adps</servlet-name>
        <url-pattern>/AdminDeletePostServlet</url-pattern>
</servlet-mapping>


 <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>DsJndi</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>

</web-app>